.grid-container {
  --flow-space: 2rem;
  padding-bottom: 4rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.numbered-title {
  grid-area: title;
}

picture {
  grid-area: image;
  max-width: 60%;
  align-self: start;
}

.tab-list {
  grid-area: tabs;
  align-self: start;
}

.destination-info {
  grid-area: content;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destination-meta p {
  font-size: 1.75rem;
}

@media (min-width: 35em) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 45em) {
  .grid-container {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";
  }

  .grid-container > picture {
    max-width: 90%;
  }

  .destination-meta {
    --gap: clamp(4rem, 7vw, 8rem);
    justify-content: start;
  }
}
