<div class="flow" style="--flow-space: 6rem;">
  <h2 class="numbered-title"><span>03</span> Interactive elements</h2>
  
  <div class="flex" style="justify-content: center;">
    <nav class="nav-container">
      <ul class="primary-navigation underline-indicators flex">
        <li class="active">
          <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="#"
            ><span>01</span>Active</a
          >
        </li>
        <li class="hover">
          <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="#"
            ><span>02</span>Hovered</a
          >
        </li>
        <li>
          <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="#"
            ><span>03</span>Idle</a
          >
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="flex" style="--gap: 5rem;">
    <div style="margin-top: 10rem;">
      <a
        href="#"
        class="large-button uppercase ff-serif fs-600 bg-white text-dark"
        >Explore</a
      >
    </div>
    <div class="flex flow" style="--flow-space: 4rem; flex-basis: 100%; flex-direction: column; align-items: center;">
      <!-- Tabs -->
      <div class="tab-list underline-indicators flex">
        <button
          class="active uppercase text-light letter-spacing-2 bg-dark ff-sans-cond"
        >
          Moon
        </button>
        <button
          class="hover uppercase text-light letter-spacing-2 bg-dark ff-sans-cond"
        >
          Mars
        </button>
        <button
          class="uppercase text-light letter-spacing-2 bg-dark ff-sans-cond"
        >
          Europa
        </button>
      </div>

      <!-- Dots  -->
      <div class="dot-indicators flex" style="--gap: 2rem;">
        <button class="active"><span class="sr-only">Slide title</span></button>
        <button class="hover"><span class="sr-only">Slide title</span></button>
        <button><span class="sr-only">Slide title</span></button>
      </div>

      <!-- Numbers -->
      <div class="number-indicators flex" style="--gap: 2rem;">
        <button class="active">1</button>
        <button class="hover">2</button>
        <button>3</button>
      </div>
    </div>
  </div>
</div>
