.grid-container {
  padding-bottom: 3rem;
  --flow-space: 2rem;
}

@media (min-width: 45em) {
  .grid-container {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }

  .home-info {
    justify-self: start;
  }

  .button-container {
    justify-self: end;
    max-width: 80%;
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }
}

h1 span {
  display: block;
}